<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <style>
           #mapid {
            width: auto;
            height: 100%;
            padding-left: -15px;
            padding-right: -15px;
            margin-left: -15px;
            margin-right: -15px;
        }

    </style>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="http://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script>
    <script src="/leaflet-providers.js"></script>
    <script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script>
        var polygons = [];

        function addVoroniCell(map, voroniPolygonWkt, postalCode, color) {
            var selectedLayer = omnivore.wkt.parse(voroniPolygonWkt);
            selectedLayer.clickable = true;
            selectedLayer.addTo(map);
            selectedLayer.setStyle({weight: 1, fillColor: color, color: color, fillOpacity: 0.5});
            var label = null;
            return {layer: selectedLayer, label: label};
        }

        function loadVoroniCells(centerPoint,myMap,clickHandler) {
            $.get("/nearby/counties/" + centerPoint, function (data) {
                var selectedLayer = null;
                data.forEach(function (postalCode, index) {
                    var item = addVoroniCell(myMap, postalCode.wkt, postalCode.postal, postalCode.color);
                    item.layer.on('click',clickHandler);
                    polygons.push(item.layer);
                });
            })
        }

        function init() {
            var myMap = L.map('mapid', {
                zoomControl: true,
                attributionControl: true,
                layers: [
                    L.tileLayer.provider('Stamen.Toner')
                ]
            });

            var clickHandler = function (e) {
                polygons.forEach(function (poly) {
                    myMap.removeLayer(poly);
                });
                polygons.length = 0;
                loadVoroniCells(e.latlng.lat + ',' + e.latlng.lng,myMap, this);
            };

            myMap.setView([39.828175, -98.5795], 5);


            myMap.defaults = {
                editable: true, color: '#AA0000', weight: 1, opacity: 1.0, fillColor: '#AA0000', fillOpacity: 0.5
            };


            myMap.on('click', clickHandler);
        }

    </script>

</head>
<body onload="init()">
<div id="mapid"></div>

</body>
</html>